.home {
  background-color: var(--primary-color-tint);
  color: var(--primary-color-shade);
}

.home h1 {
  margin-bottom: 1.8rem;
}

.algorithm-details {
  margin: 1rem 0;
}

.home h3 {
  font-size: 2.4rem;
}

.home ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

@media (max-width: 31.25em) {
  .home ul {
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
  }
}

.home li {
  /* font-size: 24px; */
  cursor: pointer;
  background-color: var(--primary-color-shade);
  color: var(--primary-color-tint);
  padding: 1rem 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
}

.home li:hover {
  background-color: var(--primary-color-shade-half);
  color: var(--primary-color-tint-half);
}

.home li a {
  text-decoration: none;
  color: inherit;
  /* color: var(--primary-color-shade); */
}

.link-heading {
  margin: 1.5rem 0.5rem;
}

.link-heading h3 {
  font-size: 2rem;
}
